@charset "utf-8";
/* CSS Document */
.ui-overlay-a,.ui-page-theme-a,.ui-page-theme-a .ui-panel-wrapper {
    background-color: #eeeeee;
	   text-shadow:none;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    background-color: #f6f6f6;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 0px 0 #f3f3f3;
}





.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #38c;
    border-color: #38c;
    color: #fff;
    text-shadow: 0 0px 0 #059;
}



.body-bg1{ background-color:#eeeeee; padding:0em;}

.ui-bar-f {
   color:#FFF;
   background-color:#f36142; 
   border:none;
}
a.tu1{ border:none;    }
a.tu1:after{margin-top: -8px;}

.shadow1{-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.15); -moz-box-shadow: 0 0px 0px rgba(0,0,0,.15);box-shadow: 0 0px 0px rgba(0,0,0,.15); }


.shadow1>.ui-li-has-icon>img:first-child, .ui-listview>.ui-li-has-icon>.ui-btn>img:first-child {
    position: absolute;
    left: .625em;
    top: .6em;
    max-height: 1.4em;
    max-width: 1.4em;
}
.shadow1>.ui-li-has-icon>.ui-btn {
    background-color: #f6f6f6;
    border-color: #ddd;
    color: #7a797a;
    text-shadow: 0 1px 0 #f3f3f3;

}
.shadow1>li.ui-first-child, .shadow1>li.ui-first-child>a.ui-btn {
     -webkit-border-top-right-radius: 0em; 
     border-top-right-radius:0em; 
     -webkit-border-top-left-radius:0em; 
     border-top-left-radius:0em;

}



.shadow1>li.ui-last-child, .shadow1>li.ui-last-child>a.ui-btn {
    -webkit-border-bottom-right-radius:0em; 
    border-bottom-right-radius:0em; 
    -webkit-border-bottom-left-radius:0em; 
    border-bottom-left-radius: 0em; 
}

.shadow2>.ui-li-static, .shadow2>.ui-li-divider, .shadow2>li>a.ui-btn {
    margin: 0;
    display: block;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}


.shadow2 .ui-li-has-thumb>img:first-child, .shadow2 .ui-li-has-thumb>.ui-btn>img:first-child, .shadow2 .ui-li-has-thumb .ui-li-thumb {
    position: absolute;
    left: 0em;
    top: 0em;
    max-height: 5em;
    max-width: 5em;

	
}



.shadow2>.ui-li-has-thumb>.ui-btn, .shadow2>.ui-li-static.ui-li-has-thumb {
    min-height: 3.625em;
    padding-left: 4.35em;


}



.ui-btn-active{ 
    background-color:#f36142 !important;
    border-color: #f36142 !important;
    text-shadow: 0 0px 0 #f3f3f3 !important;
}

.padding1{ padding:1em 1em; background-color:#FFF}
a.a1{ display:block;text-align:center; color:#666; font-size:13px; text-decoration:none}
a.a1 img{ width:2.5em;}

.padding2{ padding:0em 1em;}
.padding2 h2{ font-size:1em}
/* 轮播 */
.hot-img {width: 100%;position: relative;overflow: hidden;}
.hot-img:after { content: ''; display: block; width: 100%; padding-top: 46.9%;}
.hot-img .swiper-wrapper {position: absolute;width:100%;height:100%;z-index: 2;}
.hot-img .swiper-wrapper .swiper-slide {float: left;position: relative;width: 100%;height:100%;}
.hot-img .hot-btn-box {position: absolute;bottom:6px;text-align:center;z-index: 4;width:100%;overflow: hidden;}
.hot-img .hot-btn-box .swiper-pagination-switch{display:inline-block;width: 8px;height: 8px;margin-left: 4px;border-radius: 50%;-webkit-border-radius: 50%;-o-border-radius: 50%;-ms-border-radius: 50%;-moz-border-radius: 50%;background-color: #fff;cursor: pointer;
}
.hot-img .hot-btn-box .swiper-active-switch{display:inline-block;width: 9px;height:9px;margin-left: 4px;border-radius: 50%;-webkit-border-radius: 50%;-o-border-radius: 50%;-ms-border-radius: 50%;-moz-border-radius: 50%;background-color: #fff; cursor: pointer;}
.hot-img .swiper-wrapper .swiper-slide img {width: 100%;height: 100%;}



.ui-block-style{background-color:#f6f6f6; text-align:center;border-bottom:0.1em solid #ddd;border-right:0.1em solid #ddd;padding:0.5em 0em; color: #333;font-weight:bold; }
.ui-block-style:nth-child(3n+0){border-right:none; }
.ui-block-style:hover{background-color:#f2efef;}
.one{background-color:#f2efef;}

#teb0,#teb1,#teb2,#teb3,#teb4,#teb5{display:none}

a.img1{ padding:0.4em;margin: 0em 0; border:1px solid #ddd; background-color:#FFF}
a.img1 img{ width:100%;}
a.img1 p{
    display: block;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	font-size:12px;
	color:#666;
	font-weight:normal; 
}

.padding3{padding:0em 0.2em;}
.padding3 p.size1{-webkit-margin-before: 0.6em; height:auto; overflow:hidden;-webkit-margin-after: 0.6em;    -webkit-margin-start: 0.6em;    -webkit-margin-end: 0.6em; font-weight:bold; font-size: 1em;}
.padding3 p	a.move{ text-align:right; float:right; text-decoration:none; color:#666; font-weight:normal;}



.border1{border-color: #ddd;padding-bottom: 0px;}
.ui-footer-bg1 ul li a{background-color: #f6f6f6;border-color: #ddd;color: #333;text-shadow: 0 0px 0 #f3f3f3;font-weight:normal;padding: .4em 1em;}
.ui-footer-bg1 ul li a.ui-btn-active1{ color:#FFF;  background-color:#f36142; }

.padding4{padding:0em 0.5em;}
.ui-rad1{background-color:#FFF;}
.ui-rad1 h1{background-color:#FFF;}
.ui-rad1 h1 a{border-color:#bbb; color:#333}
.ui-rad1 .ui-collapsible-content{border-color:#bbb;}


.display-center{ display:table; color:#333; text-decoration:none;}
.display-center .display-left{ display:table-cell; width:23%; vertical-align:middle;}
.display-center .display-left img{ width:100%}
.display-center .display-right{display:table-cell; width:75%; padding-left:2%;}
.display-center .display-right h2{ font-size:1em;  -webkit-margin-before: 0.53em;-webkit-margin-after: 0.53em;}
.display-center .display-right p{ width:100%;font-size:0.75em;overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;    -webkit-margin-before: 0.8em;
    -webkit-margin-after: 0.8em; }
.display-center .display-right .size2{font-size:0.75em;}

.margin1 ul{-webkit-margin-before: 0em;-webkit-margin-after: 0em;-webkit-padding-start: 0px;}
.margin1 ul li{ list-style:none; border-bottom:1px dashed #ddd; padding:0.5em 0em; }
.margin1 ul li a{ display:block;text-decoration:none; color:#666; width:100%; height:auto; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; font-size:0.8em}
.margin1 ul li a span{ color:#F60; display:inline-block; border-right:1px solid #ddd; padding-right:0.3em; margin-right:0.3em}
.margin1 ul li a span.span-width{ width:40%}

.padding5{ background-color:#FFF; padding:0em 0em;}

.button1{background-color:#f36142; color:#fff;}

.text-algin1 a{ color:#f36142; text-decoration:none;}
.text-algin2{ text-align:right; color:#999}

.input1{margin:0em 0em 1em 0em;padding:.4em;line-height: 1.4em;display: block;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box;outline:0;border-radius: .3125em; border:1px solid #CCC}
.width1{ width:65%; display:inline-block}
.width2{ width:33%; display:inline-block; margin-left:2%;border-radius: .3125em;border:1px solid #CCC;     padding: .4em 0em;
    line-height: 1.4em;}
	
.ui-grid-bg1{ border:1px solid #CCC;line-height: 2em;border-radius: .3125em; text-align:center}	
.ui-grid-bg1 div{ border-right:1px solid #CCC;}
.ui-grid-bg1 div:last-child{border-right:none}
.on1{ background-color:#ccc; color:#FFF}


.header-bg{background-color: #f6f6f6; padding:2.5em 0em; text-align:center; border-bottom:1px solid #ddd;}
.header-bg img{ width:18%; border-radius:50%;-webkit-border-radius:50%;}
.header-bg p{-webkit-margin-before:0.3em; -webkit-margin-after:0em; color: #7a797a; font-size:1em; font-weight:bold;}