
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489648121710'); /* IE9*/
  src: url('iconfont.eot?t=1489648121710#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489648121710') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489648121710') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489648121710#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1.8em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before { content: "\e609"; }

.icon-shouye:before { content: "\e605"; }

.icon-jiqileibie:before { content: "\e662"; }

.icon-shouyeshouye:before { content: "\e601"; }

