<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="合租,青春,猥琐,斗智" />
        <meta name="description" content="桃花运到，挡也挡不住。钟晓飞先在机场捡了一个青春性感的小姨子，接着又捡到了梦中女神的贴身之物。一时间，美女投怀送抱，艳遇接连不断！美女太多了，应接不暇之际，一个巨大的危险已经悄然而至。为了日后的‘幸’福，他决定发彪，男人统统打倒，美女全部推倒！"
        />
        <link rel="canonical" href="70159.html" />
        <title>
            看书网触屏版手机wap小说网站模板
        </title>
        <link href="../favicon.png" rel="apple-touch-icon-precomposed" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    
    <body ng-app="bookDetail">
        <script type="text/javascript">
            var ks_host = "../3g";
            var ks_uid = 0;
        </script>
        <script src="../public/js/require.js">
        </script>
        <div class="header">
            <span class="nav_left">
                <a href="javascript:history.go(-1)">
                    返回
                </a>
            </span>
            <span class="nav_right" style="display: none">
                <a rel="internal" href="../nspd@cnl=kanshu">
                    男生
                </a>
                </h1>
            </span>
            <h1>
                作品简介
            </h1>
        </div>
        <div class="wrap clearfix" ng-controller="bookDetailController">
            <div class="section bindex">
                <div class="btitle">
                    {{book.name}}
                    <span>
                        {{book.status}}
                    </span>
                </div>
                <div class="blist">
                    <ul>
                        <li>
                            <div class="bookwrap clearfix">
                                <div class="bcover fl">
                                    <img ng-src="{{book.mainImage}}" onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                    height="110" width="75">
                                </div>
                                <div class="bintro b_i pl10">
                                    <p>
                                        分类:
                                        <b class="tname">
                                            <a href="" class="ye">
                                                {{book.typeName}}
                                            </a>
                                        </b>
                                        <br/>
                                        {{book.author}}
                                        <br/>
                                        75.3万字 共300章
<!--                                        <br/>
                                        收藏: 917 &nbsp;&nbsp; 评论: 114
                                        <br/>
                                        红花: 57 &nbsp;&nbsp; 打赏: 1421
                                        <br/>
                                        粉丝: 198人-->
                                    </p>
                                </div>
                            </div>
                            <div class="blink gyb bl3 mt5">
                                <a href='../content/70159.html@cnl=kanshu' class="cur">
                                    马上阅读
                                </a>
                                <a href="##" class="book_fav" id="btn_fav" style="display: none">
                                    收藏
                                </a>
                                <a href="" class="last" id="seeDirectoryBtn">
                                    查看目录
                                </a>
                            </div>
                        </li>
                        <li>
                            <span class="bname">
                                <a href="../content/70159-3173220.html@cnl=kanshu">
                                    最新章节：
                                    <b class="ye">
                                        第299章 生死一刻
                                    </b>
                                </a>
                            </span>
                            更新时间：
                            <b class="gy">
                                {{book.updateTime}}
                            </b>
                        </li>
                        <li>
                            <div class="intro">
                                <p>
                                    <b>
                                        简介：
                                    </b>
                                    {{book.description}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="blink bl4 gyb mt10" style="display: none">
                    <a href="../comment/70159.html@cnl=kanshu">
                        <i class="icons icon_cmt">
                        </i>
                        书评
                    </a>
                    <a href="../activeperson/70159-2-0.html@cnl=kanshu">
                        <i class="icons icon_flw">
                        </i>
                        红花
                    </a>
                    <a href="../activeperson/70159-1-0.html@cnl=kanshu">
                        <i class="icons icon_mny">
                        </i>
                        打赏
                    </a>
                    <a href="../trends/70159-1.html@cnl=kanshu" class="last">
                        <i class="icons icon_fan">
                        </i>
                        粉丝
                    </a>
                </div>
            </div>
            <script type="text/javascript">
                var ks_bkid = 70159;
            </script>
            <div class="block" style="display: none">
                <p class="item ">
                    <a href="../marketing/go-14.html@cnl=kanshu" class="t_b btn_vip">
                        开通VIP，手机全站免费畅读！
                    </a>
                </p>
            </div>
            <div class="section" style="display: none">
                <div class="tab-menu t2">
                    <a href="##" class="cur">
                        粉丝动态
                    </a>
                    <a href="##">
                        本书粉丝团
                    </a>
                </div>
                <div class="tab-pane">
                    <ul class="clist tab-content active">
                        <li>
                            <div class="user">
                                <span class="tname">
                                    <a href="../usercenter/myvip--1.html@cnl=kanshu">
                                        <i class="icons ib icon_VIP1">
                                        </i>
                                    </a>
                                    <a href='../usercenter/otheruser-108554186.html@cnl=kanshu' class="ye">
                                        940327
                                    </a>
                                    <img alt="图片预览中" src="../public/img/fans/5.gif" />
                                </span>
                                <span class="binfo">
                                    14/06/15 21:36
                                </span>
                            </div>
                            <div class="msg">
                                <img src='../public/img/comment.png' alt='图片预览中...' />
                                10块钱开个vip一个月怎么看都可以啦你拿金币看说明你有钱
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <span class="tname">
                                    <a href='../usercenter/otheruser-108562982.html@cnl=kanshu' class="ye">
                                        ___tai.-阳
                                    </a>
                                    <img alt="图片预览中" src="../public/img/fans/5.gif" />
                                </span>
                                <span class="binfo">
                                    14/06/15 16:43
                                </span>
                            </div>
                            <div class="msg">
                                <img src='../public/img/comment.png' alt='图片预览中...' />
                                可以
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <span class="tname">
                                    <a href='../usercenter/otheruser-108549064.html@cnl=kanshu' class="ye">
                                        新亮鸽舍
                                    </a>
                                    <img alt="图片预览中" src="../public/img/fans/1000.gif" />
                                </span>
                                <span class="binfo">
                                    14/06/15 14:09
                                </span>
                            </div>
                            <div class="msg">
                                <img src='../public/img/reward.png' alt='图片预览中...' />
                                “新亮鸽舍”从兜里摸出仅剩的100金币说：钱不在多，有心就行！
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <span class="tname">
                                    <a href='../usercenter/otheruser-108503777.html@cnl=kanshu' class="ye">
                                        13081107490
                                    </a>
                                    <img alt="图片预览中" src="../public/img/fans/5.gif" />
                                </span>
                                <span class="binfo">
                                    14/06/15 05:39
                                </span>
                            </div>
                            <div class="msg">
                                <img src='../public/img/comment.png' alt='图片预览中...' />
                                大家好的
                            </div>
                        </li>
                        <li>
                            <div class="user">
                                <span class="tname">
                                    <a href='../usercenter/otheruser-108503777.html@cnl=kanshu' class="ye">
                                        13081107490
                                    </a>
                                    <img alt="图片预览中" src="../public/img/fans/5.gif" />
                                </span>
                                <span class="binfo">
                                    14/06/15 05:39
                                </span>
                            </div>
                            <div class="msg">
                                <img src='../public/img/comment.png' alt='图片预览中...' />
                                大家好吗
                            </div>
                        </li>
                        <li class="item_more">
                            <a href="../trends/70159-2.html@cnl=kanshu" class="more">
                                查看更多&gt;
                            </a>
                        </li>
                    </ul>
                    <ul class="blist tab-content">
                        <li>
                            <span class="tname">
                                1.
                                <a href='../usercenter/otheruser-108549064.html@cnl=kanshu' class="ye">
                                    新亮鸽舍
                                </a>
                                <img alt="图片预览中" src="../public/img/fans/1000.gif" />
                            </span>
                            <span class="binfo">
                                1290
                            </span>
                        </li>
                        <li>
                            <span class="tname">
                                2.
                                <a href='../usercenter/otheruser-108554783.html@cnl=kanshu' class="ye">
                                    外来客
                                </a>
                                <img alt="图片预览中" src="../public/img/fans/1000.gif" />
                            </span>
                            <span class="binfo">
                                1046
                            </span>
                        </li>
                        <li>
                            <span class="tname">
                                3.
                                <a href='../usercenter/otheruser-108550082.html@cnl=kanshu' class="ye">
                                    金宝贝呀！
                                </a>
                                <img alt="图片预览中" src="../public/img/fans/1000.gif" />
                            </span>
                            <span class="binfo">
                                1024
                            </span>
                        </li>
                        <li>
                            <span class="tname">
                                4.
                                <a href='../usercenter/otheruser-108554002.html@cnl=kanshu' class="ye">
                                    二中体彩
                                </a>
                                <img alt="图片预览中" src="../public/img/fans/500.gif" />
                            </span>
                            <span class="binfo">
                                964
                            </span>
                        </li>
                        <li>
                            <span class="tname">
                                5.
                                <a href='../usercenter/otheruser-108469557.html@cnl=kanshu' class="ye">
                                    amyzhang小意
                                </a>
                                <img alt="图片预览中" src="../public/img/fans/500.gif" />
                            </span>
                            <span class="binfo">
                                899
                            </span>
                        </li>
                        <li class="item_more">
                            <a href="../trends/70159-1.html@cnl=kanshu" class="more">
                                查看更多&gt;
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section" ng-controller="detailRecommendCtrl">
                <h3 class="title">
                    <span class="b_l">
                        你可能会喜欢
                    </span>
                </h3>
                <div class="blist" >
                    <ul>
                        <li ng-repeat="book in detailRecommendImageBooks">
                            <a href=''>
                                <div class="bcover fl">
                                    <img ng-src="{{book.mainImage}}" onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                    alt="都市特种兵" height="130" width="85" />
                                </div>
                                <div class="bintro pl10">
                                    <h4 ng-value="{{book.id}}"> 
                                        {{book.name}}
                                    </h4>
                                    <p>
                                        {{book.typeName}}
                                        <br>
                                        {{book.description}}
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li ng-repeat="book in detailRecommendBooks">
                            <a href=''>
                                <div class="bintro">
                                    <h4 ng-value="{{book.id}}">
                                        {{book.name}}
                                    </h4>
                                    <p>
                                        {{book.typeName}}
                                        <br>
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block" style="display: none">
                <p class="item mt15">
                    <a href="84150.html@cnl=kanshu" class="t_b btn_vip">
                        "醉贤梦"送给
                        <b>
                            <异世之风流剑圣>
                        </b>
                        1朵红花
                    </a>
                </p>
            </div>
            <div class="search">
                <div class="searchbox mt10 clearfix">
                    <form action="/3g/search?cnl=kanshu" method="get">
                        <input name="kw" type="text" class="t_i" placeholder="搜书搜作者" autocomplete="off"
                        value="" />
                        <input type="hidden" name="search" value="aname" />
                        <div class="searchbtn">
                            <span class="t_b">
                            </span>
                            <span class="t_t">
                                搜索
                            </span>
                            <input type="submit" value="" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer home-bg">
                <div class="footer_nav clearfix">
                    <a href="/novel/novelSee/index.html">
                        首页
                    </a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=836127990&site=qq&menu=yes">广告合作</a>
                    <!--<a href="../bookshelf@cnl=kanshu">-->
                        <!--书架-->
                    <!--</a>-->
                    <!--<a href="../classifi@cnl=kanshu">-->
                        <!--分类-->
                    <!--</a>-->
                    <!--<a href="../feedback@cnl=kanshu">-->
                        <!--留言-->
                    <!--</a>-->
                    <!--<a href="../usercenter@cnl=kanshu">-->
                        <!--个人中心-->
                    <!--</a>-->
                </div>
                <p class="edition mt20">
                    <span>
                        <!--<a href="../20/novelinfo/70159.html@cnl=kanshu">-->
                            <!--普通版-->
                        <!--</a>-->
                        <!--|-->
                        <a href="##" class="select">
                            触屏版
                        </a>
                    </span>
                </p>
                <p class="copyright mt20">
                    <b>
                        看书网
                    </b>
                    wap.kanshu.com
                </p>
                <span id="gotop" class="icons icon-gotop">
                </span>
            </div>
            <div class="pop_cover">
            </div>
            <div class="pop_tip">
                <div class="pop_inner">
                    <div class="pop_cont">
                    </div>
                </div>
            </div>
        </div>
    </body>
<script src="public/js/common/sea.js"></script>
<script>
    seajs.use(['cmd.config.js','angular.min.js','./public/js/bookdetail.js']);
</script>
</html>