<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="手机小说，网络小说，免费小说，都市小说，言情小说，玄幻小说，网游小说，军事小说，历史小说，穿越小说"
    />
    <meta name="description" content="看书网,专业原创小说网站,提供最新言情,都市校园,穿越,网游,玄幻,武侠,科幻,历史等小说免费阅读和小说下载,是最好看的小说阅读网。看小说,就上看书网！"
    />
    <link rel="canonical" href="index"/>
    <title>
        看书网触屏版手机wap小说网站模板
    </title>
    <link href="favicon.png" rel="apple-touch-icon-precomposed"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body ng-app="index">
<div class="top">
    <h1 class="fl">
        <img src="public/images/logo_ks.png" width="76" height="32"/>
    </h1>
    <p class="fr" style="display: none">
        <a href="usercenter@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="icon_user"
           title="个人中心">
            个人中心
        </a>
    </p>
</div>
<div class="top_menu">
    <div class="topnav">
        <a href="index@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="cur">
            首页
            <b>
            </b>
        </a>
        <!-- <a href="nspd.html">
             男生
             <b>
             </b>
         </a>
         <a href="nvshengpd.html">
             女生
             <b>
             </b>
         </a>
         <a href="chubanshe.html">
             免费
             <b>
             </b>
         </a>
         <a href="bookshelf@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
             书架
             <b>
             </b>
         </a>-->
    </div>
</div>
<!--<div class="top_sign">
    <span class="usr_grade">
        登录查看我的等级
    </span>
    <span class="usr_sign">
        <a href="login@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
            登录
        </a>
    </span>
</div>-->
<div class="search" ng-controller="searchController">
    <div class="searchbox mt10 clearfix">
        <form action="/3g/search?cnl=kanshu" method="get">
            <input type="hidden" name="sid" value="-jlfcT4pLcKDMWGdK6tas1"/>
            <input name="kw" type="text" class="t_i" placeholder="搜书搜作者" autocomplete="off"
                   ng-value="recommendVal">
            <input type="hidden" name="search" value="aname"/>
            <div class="searchbtn">
                        <span class="t_b">
                        </span>
                        <span class="t_t">
                            搜索
                        </span>
                <input type="submit" value=""/>
            </div>
        </form>
    </div>
</div>
<div class="section">
    <h3 class="title">
                <span class="b_l">
                </span>
    </h3>
    <div class="blist" ng-controller="recommondBooksController">
        <ul>
            <li ng-repeat="book in recommendImageBooks">
                <a href='novelinfo/70159.html'>
                    <div class="bcover fl">
                        <img ng-src="{{book.mainImage}}"
                             onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                             alt="" height="130" width="85"/>
                    </div>
                    <div class="bintro pl10">
                        <h4>
                            {{book.name}}
                        </h4>
                        <p>
                            {{book.typeName}}
                            <br>
                            {{book.description}}
                        </p>
                    </div>
                </a>
            </li>
            <li ng-repeat="book in recommendBooks">
                <a href='novelinfo/70159.html'>
                    <div class="bintro">
                        <h4>
                            {{book.name}}
                        </h4>
                        <p>
                            {{book.typeName}}
                            <br>
                            {{book.description}}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--<div class="block">
    <p class="item ">
        <a href="marketing/go-14.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="t_b btn_vip">
            开通VIP，手机全站免费畅读！
        </a>
    </p>
</div>-->
<!--<div class="section">
    <div class="btm_nav">
        <ul>
            <li>
                <a href="order/1-0-1-3-0.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                    热销榜
                </a>
            </li>
            <li>
                <a href="order/1-0-2-3-0.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                    人气榜
                </a>
            </li>
            <li>
                <a href="order/1-0-11-3-0.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                    更新榜
                </a>
            </li>
            <li>
                <a href="order/1-0-9-3-0.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                    新书榜
                </a>
            </li>
            <li>
                <a href="order/1-0-6-3-0.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                    收藏榜
                </a>
            </li>
            <li>
                <a href="order/1-0-8-3-0.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                    热评榜
                </a>
            </li>
            <li>
                <a href="order/1-0-13-3-0.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                    红花榜
                </a>
            </li>
            <li>
                <a href="order/1-0-14-3-0.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                    打赏榜
                </a>
            </li>
        </ul>
    </div>
</div>-->
<div class="section" ng-controller="hotBookController">
    <h3 class="title">
                <span class="b_l">
                    热门小说
                </span>
    </h3>
    <div class="box tab-pane clearfix">
        <div class="blist tab-content active">
            <ul>
                <li ng-repeat="book in hotImageBooks">
                    <a href='novelinfo/70159.html'>
                        <div class="bcover fl">
                            <img ng-src="{{book.mainImage}}" alt="超能保镖"
                                 onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                 height="130" width="85"/>
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                {{book.name}}
                            </h4>
                            <p>
                                {{book.typeName}}
                                <br>
                                {{book.description}}
                            </p>
                        </div>
                    </a>
                </li>
                <li ng-repeat="book in hotBooks">
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                {{book.name}}
                            </h4>
                            <p>
                                {{book.typeName}}
                                <br>
                                {{book.description}}
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/1-0-2-4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<div class="section">
    <h3 class="title">
        <span class="b_l">
            粉丝评价榜
        </span>
        <span class="b_r tab-nav">
            <a href="#" class="cur">
                打赏
            </a>
            <a href="#">
                红花
            </a>
            <a href="#">
                热评
            </a>
        </span>
    </h3>
    <div class="box tab-pane clearfix">
        <div class="blist tab-content active">
            <ul>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bcover fl">
                            <img src="http://file.kanshu.com/upload/article/77694/77694_m.jpg" alt="天眼邪医"
                            onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                            height="130" width="85" />
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                天眼邪医:专治奇术怪症
                            </h4>
                            <p>
                                都市言情 . (连载中) . 51.7万字
                                <br>
                                屌丝男得到一双天眼，看美女，看古玩，看鬼魂，看时运风水，看过去未来，从此小日子风生水起。可是，为什么还要有一个断子绝孙劫？每当天眼升级之时，小鸟需钻入真命女孩的体内避难，否则蛋碎鸟亡。带着一双天眼，屌丝男开始了风骚的寻美人生。
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                宠溺小夫君:快到碗里来
                            </h4>
                            <p>
                                古代言情 . (连载中) . 54.9万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                绝品美女上司:上位凡者
                            </h4>
                            <p>
                                都市言情 . (连载中) . 83.8万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                源能世界:代码操纵时代
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 26.1万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                冰绝焱武记
                            </h4>
                            <p>
                                武侠仙侠 . (连载中) . 32.5万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/1-0-14-3.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
        <div class="blist tab-content">
            <ul>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bcover fl">
                            <img src="http://file4.kanshu.com/upload/article/86020/86020_m.jpg" alt="超级武装"
                            onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                            height="130" width="85" />
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                超级武装:打造魔鬼杀神
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 22.0万字
                                <br>
                                [书友群 323378666]他是一个特种兵，重生到了异世。军团相当于一个国家，军团长的女儿非要嫁给我，我有选择的余地吗？我没在偷着乐，你有这样的幻想吗？他是一个菜鸟，总是被人追杀。他是一个刽子手，七步杀一人，纵横在异世大陆。他很冷血，却受到女人的爱慕……他征战南北拥有图霸整个异世大陆的毅力，笑傲于苍穹之上阔气。这个世界是没有佛道，这个世界只有军队，他们为战生为战死，残酷的练习，生与死的较量……
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                千门邪少:异能泡妞高手
                            </h4>
                            <p>
                                都市言情 . (连载中) . 65.8万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                美女俏房客:都市特种兵
                            </h4>
                            <p>
                                都市言情 . (连载中) . 399.4万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                混沌天体:茅庐穹顶擒天
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 501.2万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                泡妞武林秘籍:桃花宝典
                            </h4>
                            <p>
                                都市言情 . (连载中) . 165.0万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/1-0-13-3.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
        <div class="blist tab-content">
            <ul>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bcover fl">
                            <img src="http://file.kanshu.com/upload/article/52572/52572_m.jpg" alt="最强神眼"
                            onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                            height="130" width="85" />
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                绝品透视:遍阅天下美人
                            </h4>
                            <p>
                                都市言情 . (连载中) . 250.4万字
                                <br>
                                　　他是威震国际的武学宗师，武道神化，十步杀一人；他是温文尔雅的古玩大家，赌石赏画，收.藏富可敌国；他是鼎鼎大名的玄门高手，能断风水，善察吉凶，让佛道两教共尊。他更是医道圣手，侦察之王，投资奇才，他便是张均，因机缘巧合之下，得到佛陀眼珠舍利，从此遍阅世间美人，傲视天下！小妖微博：看书网小妖，求粉。
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                泡妞武林秘籍:桃花宝典
                            </h4>
                            <p>
                                都市言情 . (连载中) . 165.0万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                妃子计划:凤妃号令天下
                            </h4>
                            <p>
                                都市言情 . (连载中) . 207.2万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                超级武装:打造魔鬼杀神
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 22.0万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                修真道途:炼神灭天之王
                            </h4>
                            <p>
                                武侠仙侠 . (连载中) . 19.5万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/1-0-8-3.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>-->
<div class="section">
    <h3 class="title">
                <span class="b_l">
                    男生推荐
                </span>
                <span class="b_r tab-nav">
                    <a href="#" class="cur">
                        热销
                    </a>
                    <a href="#">
                        人气
                    </a>
                    <a href="#">
                        新书
                    </a>
                </span>
    </h3>
    <div class="box tab-pane clearfix">
        <div class="blist tab-content active">
            <ul>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bcover fl">
                            <img src="http://file.kanshu.com/upload/article/67002/67002_m.jpg" alt="混沌天体"
                                 onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                 height="130" width="85"/>
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                混沌天体:茅庐穹顶擒天
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 501.2万字
                                <br>
                                废物？不能修炼？不，我乃是天地间最强大的体质——混沌天体！脚踏大地，肩扛山岳，头顶苍穹！我命由我不由天！天地最强体质的变强之路，一个卑微存在的崛起之路，一个无上存在的升级之路。书友群：107738614，有兴趣的童鞋可以进来吹吹水，男女不限，无限欢迎!！
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                乡野小霸王:霸占医仙道
                            </h4>
                            <p>
                                都市言情 . (连载中) . 153.8万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                贴身杀手:暧昧美女总裁
                            </h4>
                            <p>
                                都市言情 . (连载中) . 24.9万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                护天剑仙:心经九天神女
                            </h4>
                            <p>
                                武侠仙侠 . (连载中) . 47.0万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bintro">
                            <h4>
                                逆天狂少:嚣张练气至尊
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 139.3万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/3-1-1-4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
        <div class="blist tab-content">
            <ul>
                <li>
                    <a href='novelinfo/70159.html'>
                        <div class="bcover fl">
                            <img src="http://file2.kanshu.com/upload/article/86618/86618_m.jpg" alt="天武至尊"
                                 onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                 height="130" width="85"/>
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                疯狂复仇机器:血肉撕裂
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 22.5万字
                                <br>
                                光怪陆离的天武大陆，上古势力，七大帝国，万族林立，一个个被覆灭的势力，一个个浮出水面的世家，一个个被挖掘出的遗迹……
                                <br/>
                                亿万生灵由谁主宰？苍茫大陆谁主沉浮！
                                <br/>
                                大山里走出的秦楚，身怀让掌控万物的至尊神都为之颤抖的五圣体……且看他如何一步步踏上巅峰，坐拥天下美人，成就天武至尊！
                                <br/>
                                更新说明：每日中午11点到1点更新，偶尔会推迟。正常一日一更，爆发另论。
                                <br/>
                                读者qq群：294748020 欢迎加入。 那个，之前这个群给弄错了，sorry！
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/73545.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                超级玉璧:王为之倾天下
                            </h4>
                            <p>
                                都市言情 . (连载中) . 183.6万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/56706.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                摧花王子爷:转行做好人
                            </h4>
                            <p>
                                都市言情 . (连载中) . 173.3万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/79683.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                极品秘书:官人神秘风流
                            </h4>
                            <p>
                                都市言情 . (连载中) . 33.0万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/74485.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                封印神戒之最强召唤师
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 25.7万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/3-1-2-4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
        <div class="blist tab-content">
            <ul>
                <li>
                    <a href='novelinfo/80281.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bcover fl">
                            <img src="http://file1.kanshu.com/upload/article/80281/80281_m.jpg" alt="绝恋孤独"
                                 onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                 height="130" width="85"/>
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                绝恋孤独:恨嫁豪门恩怨
                            </h4>
                            <p>
                                都市言情 . (连载中) . 57.0万字
                                <br>
                                倾城苦恋，凄然绝世孤独。绝美帅哥、浊世翩翩佳公子狄晓风与绝代娇美佳丽林秀云，虽非青梅竹马，但他们犹似绝代双娇却是“前缘、今生、来世”之三生三世之绝世情恋。为卿倾泪，为爱苦苦寻觅，为人生美好不虚度，为真情铭心刻骨相守。世界上万物都会消亡，永恒的爱情地久天长！绝恋孤独，绝世孤独？为爱为情？谁来理解绝世孤独一颗绝爱无助的心呢？寻寻觅觅，凄凄戚戚，缘聚缘散，心若飘零叶，除却巫山不是云，蜡炬成灰泪始干，天涯海角痴缠约诺，只是，何处可诉断肠相思之爱与恨……
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/81270.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                神魔天尊:降临惩救三界
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 21.7万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/87960.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                至尊仙途:得道最牛仙人
                            </h4>
                            <p>
                                武侠仙侠 . (连载中) . 25.4万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/75307.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                暗黑组织:尊者天破掌控
                            </h4>
                            <p>
                                武侠仙侠 . (连载中) . 40.4万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/83682.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                我的明星小妹
                            </h4>
                            <p>
                                都市言情 . (连载中) . 27.8万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/3-1-9-4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="top_class">
    <div class="list_nav">
        <ul>
            <li>
                <a href='list/1.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    玄幻奇幻
                </a>
            </li>
            <li>
                <a href='list/2.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    武侠仙侠
                </a>
            </li>
            <li>
                <a href='list/3.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    都市异能
                </a>
            </li>
            <li>
                <a href='list/4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    历史军事
                </a>
            </li>
            <li>
                <a href='list/6.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    游戏竞技
                </a>
            </li>
            <li>
                <a href='list/7.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    科幻灵异
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="section">
    <h3 class="title">
                <span class="b_l">
                    女生推荐
                </span>
                <span class="b_r tab-nav">
                    <a href="#" class="cur">
                        热销
                    </a>
                    <a href="#">
                        人气
                    </a>
                    <a href="#">
                        新书
                    </a>
                </span>
    </h3>
    <div class="box tab-pane clearfix">
        <div class="blist tab-content active">
            <ul>
                <li>
                    <a href='novelinfo/60554.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bcover fl">
                            <img src="http://file2.kanshu.com/upload/article/60554/60554_m.jpg" alt="染上邪性BOSS"
                                 onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                 height="130" width="85"/>
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                桃色密爱:坏总裁太吃醋
                            </h4>
                            <p>
                                现代言情 . (连载中) . 40.4万字
                                <br>
                                为救心爱之人，一纸契约，她成了他的情人。他迷恋她的味道，顺便揽为避婚的工具，却不知她亦是自己悬赏通缉的‘蓝眼’。
                                得知她心有所属，他醋意顿生，恢复了恶魔本性，开始报复...恶言、打击、甚至伤害、将他们逼入死境！
                                终于，他成功的分开他们，却发现她不见了... 多年后，她再次出现，他更不愿放手。 她跑，他追，她逃，他逮...
                                他在她的面前，霸道搂抱，在她的未婚夫面前，强制夺吻，在她的婚礼上，光明正大抢婚...
                                他对着镜头，向全世界宣誓，她只属于他，任何敢夺她者，杀无赦！
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70154.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                美人有毒:荼毒妖妃皇后
                            </h4>
                            <p>
                                历史时空 . (连载中) . 95.5万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/63055.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                末日危机:情投花花公子
                            </h4>
                            <p>
                                现代言情 . (连载中) . 95.4万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/28973.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                宝宝发飙:总裁你出局了
                            </h4>
                            <p>
                                现代言情 . (连载中) . 56.1万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/86350.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                盛世妖妃:蛊惑颓唐帝国
                            </h4>
                            <p>
                                历史时空 . (连载中) . 29.6万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/3-2-1-4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
        <div class="blist tab-content">
            <ul>
                <li>
                    <a href='novelinfo/54185.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bcover fl">
                            <img src="http://file5.kanshu.com/upload/article/54185/54185_m.jpg" alt="猎爱失忆小宠儿"
                                 onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                 height="130" width="85"/>
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                服侍我:猎爱失忆小逃妻
                            </h4>
                            <p>
                                现代言情 . (连载中) . 162.8万字
                                <br>
                                简介是一部作品非常重要的展示窗口。建议您输入一个文字优美、引人遐思、有悬念、让人眼前一亮，能充分吸引读者的简介。
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/71420.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                无敌腹黑团:杀手酷娘亲
                            </h4>
                            <p>
                                古代言情 . (连载中) . 112.6万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/70876.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                检察长老公:蜜宠偷心妻
                            </h4>
                            <p>
                                现代言情 . (连载中) . 49.9万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/88097.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                惊世毒妃:美艳动倾朝野
                            </h4>
                            <p>
                                历史时空 . (连载中) . 15.7万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/61413.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                吻上错孕新娘:孽子之痛
                            </h4>
                            <p>
                                现代言情 . (连载中) . 106.7万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/3-2-2-4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
        <div class="blist tab-content">
            <ul>
                <li>
                    <a href='novelinfo/85311.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bcover fl">
                            <img src="http://file3.kanshu.com/upload/article/85311/85311_m.jpg" alt="医世狂妃"
                                 onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                 height="130" width="85"/>
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                邪王溺宠:逃妃极度妖娆
                            </h4>
                            <p>
                                古代言情 . (连载中) . 18.0万字
                                <br>
                                “凝儿，你可知本王有多恨你！”▲——▲——▲他爱得至深，却又恨得至深。大婚夜，一向对近身女子凌虐致死的他却肆意掠夺着她的美好。从此便一发不可收拾……▲——▲——▲妙手仁心,医世风华.倨傲九天,锋芒绝世!且看一代医圣如何玩转乾坤,风生水起!
                                粉丝群:163266279 蓝月国欢迎各位亲们的加入！验证是本书书名，或是本书任意角色名字。
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/86906.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                虐爱小甜心:宝贝很嚣张
                            </h4>
                            <p>
                                现代言情 . (连载中) . 14.8万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/79628.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                架构时空:穿梭啸狂历史
                            </h4>
                            <p>
                                历史时空 . (连载中) . 14.9万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/79406.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                青春的刺:写进时光的痛
                            </h4>
                            <p>
                                校园文学 . (连载中) . 16.0万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/81974.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                冷情女婢：我为太子复仇
                            </h4>
                            <p>
                                古代言情 . (连载中) . 11.1万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/3-2-9-4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="top_class">
    <div class="list_nav">
        <ul>
            <li>
                <a href='list/41.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    现代言情
                </a>
            </li>
            <li>
                <a href='list/42.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    青春校园
                </a>
            </li>
            <li>
                <a href='list/43.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    古代言情
                </a>
            </li>
            <li>
                <a href='list/44.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    仙幻奇缘
                </a>
            </li>
            <li>
                <a href='list/45.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    历史时空
                </a>
            </li>
            <li>
                <a href='list/47.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                    耽美同人
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="section">
    <h3 class="title">
                <span class="b_l">
                    免费小说看个够
                </span>
    </h3>
    <div class="box tab-pane clearfix">
        <div class="blist tab-content active">
            <ul>
                <li>
                    <a href='novelinfo/88201.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bcover fl">
                            <img src="http://file1.kanshu.com/upload/article/88201/88201_m.jpg" alt="辣手相师"
                                 onerror="this.src='http://img.kanshu.com/articleInfo/images/nopic.jpg';this.onerror='';"
                                 height="130" width="85"/>
                        </div>
                        <div class="bintro pl10">
                            <h4>
                                辣手相师
                            </h4>
                            <p>
                                都市言情 . (连载中) . 9.0万字
                                <br>
                                山野小道士邢楠初入大都市，偶遇少妇，邂逅白富美，懵懂的他开始懂得，不对姑娘耍流氓，就是混蛋；不对美女动手动脚，就是神经病！初出茅庐的他，面对骇人的‘血门惊魂局’居然还有心情与美妇玩耍；面对号令相师的‘三省玄门令’，居然敢说‘滚’！诡秘的风水阴阳术，知天命，逆天行，真真假假，机关算尽，步步为营！【八旗晋升群：73207184】【VIP八旗相师军团：56645170】
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/52109.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                桃运兵王
                            </h4>
                            <p>
                                都市言情 . (全本) . 277.4万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/64064.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                天才学生在校园
                            </h4>
                            <p>
                                都市言情 . (全本) . 82.0万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/91843.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                天下武尊
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 0.6万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href='novelinfo/89087.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1'>
                        <div class="bintro">
                            <h4>
                                灭武神尊
                            </h4>
                            <p>
                                玄幻奇幻 . (连载中) . 9.3万字
                                <br>
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item_more">
                    <a href="order/1-3-2-4.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="more">
                        更多作品&gt;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<div class="block">
    <p class="item mt15">
        <a href="novelinfo/31016.html@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1" class="t_b btn_vip">
            "仰望星空"收藏了
            <b>
                <网游洪荒之人道至尊>
            </b>
        </a>
    </p>
</div>-->
<div class="search">
    <div class="searchbox mt10 clearfix">
        <form action="/3g/search?cnl=kanshu" method="get">
            <input type="hidden" name="sid" value="-jlfcT4pLcKDMWGdK6tas1"/>
            <input name="kw" type="text" class="t_i" placeholder="搜书搜作者" autocomplete="off"
                   value=""/>
            <input type="hidden" name="search" value="aname"/>
            <div class="searchbtn">
                        <span class="t_b">
                        </span>
                        <span class="t_t">
                            搜索
                        </span>
                <input type="submit" value=""/>
            </div>
        </form>
    </div>
</div>
<div class="footer home-bg">
    <div class="footer_nav clearfix">
        <a href="index@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
            首页
        </a>
        <a href="feedback@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
            读者建议
        </a>
        <a href="feedback@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
            广告合作
        </a>
        <!-- <a href="bookshelf@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
             书架
         </a>
         <a href="classifi@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
             分类
         </a>
         <a href="feedback@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
             留言
         </a>
         <a href="usercenter@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
             个人中心
         </a>-->
    </div>
    <p class="edition mt20">
                <span>
                   <!-- <a href="20/index@cnl=kanshu&sid=-jlfcT4pLcKDMWGdK6tas1">
                        普通版
                    </a>
                    |-->
                    <a href="##" class="select">
                        触屏版
                    </a>
                </span>
    </p>
    <p class="copyright mt20">
        <b>
            看书网
        </b>
        wap.kanshu.com
    </p>
            <span id="gotop" class="icons icon-gotop">
            </span>
</div>
<div class="pop_cover">
</div>
<div class="pop_tip">
    <div class="pop_inner">
        <div class="pop_cont">
        </div>
    </div>
</div>
</body>
<script src="public/js/common/sea.js"></script>
<script>
    seajs.use(['cmd.config.js','angular.min.js','./public/js/index.js']);
</script>
</html>